<header>
  <div class="nav">
    <div class="brand">
      <a href="/"><img src="/static/img/bitguard.png" alt="BitGuard logo" class="logo-img">
      </a>
      <span class="brand-text">
        <span class="bit">Bit</span><span class="guard">Guard</span> - AI-Powered Risk Assessment
      </span>
    </div>

    <nav>
      <a href="/" class="btn">Home</a>
      <!-- <a href="/pricing" class="btn">Pricing</a> -->
      <a href="/about" class="btn">About</a>
      <a href="/blog" class="btn">Blog</a>
      <a href="https://github.com/thesteau/btc" target="_blank" class="btn">Github</a>
      <a href="/login" class="btn primary">Sign Up/Login</a>
    </nav>
  </div>
</header>