{% extends "base.html" %}

{% block title %}AI-Powered Risk Assessment{% endblock %}

{% block content %}
<div class="container">

  <h1>
    <span class="bit">Bit</span><span class="guard">Guard</span>
  </h1>

  <div class="search">
    <input id="addressInput" placeholder="Enter a bitcoin address..." />
    <button id="searchBtn">🔍</button>
  </div>

  <div class="card">
    <h3>Input Address</h3>
      <div class="code" id="addressPreview">No address entered yet...</div>
  </div>

  <div class="card">
    <h3>Assessment</h3>
    <div class="stats">
        <div class="stat">
            <label>Risk Score</label>
            <strong>85</strong>
        </div>

        <div class="stat">
            <label>Predicted Type</label>
            <strong>RANSOMWARE</strong>
        </div>

        <div class="stat">
            <label>Confidence</label>
            <strong>0.82</strong>
        </div>

        <div class="stat">
            <label>Recommendation</label>
            <strong class="danger">⚠ DO_NOT_SEND</strong>
        </div>
    </div>
</div>

</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/index.js"></script>
{% endblock %}