AWS_ACCESS_KEY_ID=replace-me
AWS_SECRET_ACCESS_KEY=replace-me
AWS_DEFAULT_REGION=us-east-1
TF_VAR_aws_region=us-east-1
TF_VAR_project_name=bitguard-api
TF_VAR_environment=dev
TF_VAR_instance_name=bitguard-api-ec2
TF_VAR_instance_type=t3.micro
TF_VAR_root_volume_size=30
TF_VAR_root_volume_type=gp3
TF_VAR_app_port=8000
TF_VAR_ssh_allowed_cidrs=["0.0.0.0/0"]
TF_VAR_app_allowed_cidrs=["0.0.0.0/0"]
TF_VAR_ssh_public_key=ssh-ed25519 replace-with-your-public-key
